name: YouTube Automation
on:workflow_dispatch:
schedule:
- cron: "0 6 * * *"


jobs:
run:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- uses: actions/setup-python@v5
with:
python-version: '3.11'
- run: pip install -r requirements.txt
- run: python main.py
env:
YT_CLIENT_ID_1: ${{ secrets.YT_CLIENT_ID_1 }}
YT_CLIENT_SECRET_1: ${{ secrets.YT_CLIENT_SECRET_1 }}
YT_REFRESH_TOKEN_1: ${{ secrets.YT_REFRESH_TOKEN_1 }}
YT_CHANNEL_ID: ${{ secrets.YT_CHANNEL_ID }}
GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
ELEVEN_API_KEY: ${{ secrets.ELEVEN_API_KEY }}
